<plugin name='tiny-mce' version='0.1.1' grailsVersion='1.1 &gt; *'>
  <author>S Vivek Krishna</author>
  <authorEmail>vivek[at]intelligrape.com</authorEmail>
  <title>TinyMce</title>
  <description>\ A plugin with the tinyMce editor javascript and tags to embed the editor in your GSP pages

                      </description>
  <documentation>http://grails.org/plugin/tiny-mce</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>org.grails.plugins.tinymce.TinyMceTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>